.navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center; // centers my navbar-div
    padding: 30px 10%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    padding: 15px 0%; //reduce padding when you increase the size of text/containers
    background-color: white;
    width: 100%;
    background-color: white;
}

.nav-login {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    margin-right: 10x;
    padding-top: 5px;

    .nav-Link {
        margin: 0px 5px;
        margin-top: 8px;

        .login-link {
            font-size: 18px;
            font-weight: 500;

            &:hover {
                color: lightsteelblue;
            }
        }
        
        .signup-link {
            border: solid 2px black;
            padding: 5px 15px;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 500;
    
            &:hover {
                // color: lightsteelblue;
                background-color: lightgray;
            }
        }

        
    }

    .button-link {
        margin: 0 10px;
        font-size: 24px;
        &:hover {
            color: lightsteelblue;
        }
    }

    .button-user {
        color: grayscale($color: hsl(0, 3%, 79%));
    }

    .button-upload {
        border: solid 2px black;
        padding: 5px 25px;
        border-radius: 25px;
        &:hover {
            // color: lightsteelblue;
            background-color: lightgray;
        }
    }

    .search-bar {
        background-color: ghostwhite;
        border-radius: 25px;
        text-indent: 0px;
        margin: 0px 20px;
        padding: 10px 30px;
    }
}

.nav-links-bar {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.nav-links {
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px 20px;
    &:hover {
        color: lightsteelblue;
    }
}

.listed-items {
    display: flex;
    justify-content: space-between;
}


