.button-dropdown {
    margin-top: 6px;
    position: relative;
}

.user-dropdown {
    position: absolute;
    color: gray;
    top: 50px;
    left: -30px;
    background-color: white;
    border: 1px solid lightgray;
    z-index: 1;
    padding: 10px;
    width: 250px;
    height: 260px;
    font-weight: 400;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.temp-logout {
    margin-left: 20px;
}