.top-div {
    display: flex;
    text-align: center;
}

.signup-form {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 24px;
    max-width: 352px;
    width: 100vw;
    min-height: 502px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
}

.form-class {
    width: 350px;

    h3 {
        display: flex;
        justify-content: center;
        font-weight: 300;
        font-size: 24px;
        // font-size: 16px;
    }
    input {
        border: solid 1px darkgray;
        border-radius: 5px;
        height: 45px;
        width: 100%;
        text-indent: 20px;
        &:focus {
            border: solid 2px royalblue;
        }
        
    }

    button {
        width: 350px;
        background-color: royalblue;
        color: white;
        border-radius: 25px;
        text-indent: 10px;
        height: 50px;
        border-color: rgb(8, 112, 209);
        text-align: center;

        &:hover {
            background-color: blue($color: hsl(217, 91%, 41%));
        }
    }

    .p-spacer-div {
        display: flex;
        justify-content: center;
    }

    .form-errors {
        background-color: #ff4c4c;
        border-radius: 3px;
        padding: 10px;
        width: 333px;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .login-bottom-link {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}