.top-div {
    display: flex;
    text-align: center;
}

.signup-form {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 24px;
    max-width: 352px;
    width: 100vw;
    min-height: 502px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-class {
    width: 350px;
    h3 {
        display: flex;
        justify-content: center;
        // font-size: 16px;
    }
    input {
        border: solid 1px darkgray;
        border-radius: 3px;
        height: 45px;
        width: 100%;
    }

    button {
        width: 350px;
        background-color: royalblue;
        color: white;
        border-radius: 25px;
        text-indent: 10px;
        height: 50px;
        border-color: rgb(8, 112, 209);

        &:hover {
            background-color: blue($color: hsl(217, 91%, 41%));
        }
    }
}