.background-img {
    background-image: url('https://pxelation-dev.s3.amazonaws.com/looking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 800px;

    h1 {
        color: white;
        background-image: none;
        background: transparent;
        width: 300px;
        font-size: 36px;
        font-weight: bolder;
        margin-left: 1000px;
        // margin-top: 100px;
        padding-top: 150px;
    }

    p {
        color: white;
        background-image: none;
        background: transparent;
        width: 300px;
        margin: 50px 0;
        font-size: 18px;
        margin-left: 1000px;
        margin-top: 30px;
    }

    .signup-button {
        background-image: none;
        background-color: white;
        font-size: 24px;
        border-radius: 30px;
        width: 200px;
        height: 60px;
        padding: 15px 60px;
        text-align: center;
        margin-left: 1100px;

        &:hover {
            cursor: pointer;
            background-color: lightgray;
        }
    }

}

.splash-triple-container {
    display: flex;
    padding: 50px 50px;
    margin-bottom: 50px;;
    .text-boxes {
        padding: 0 50px;
        h1 {
            font-weight: bolder;
            font-size: x-large;
        }    
    }
}

.splash-footer {
    display: flex;
    // flex-shrink: 0;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // border-top: solid 1px darkgray;
    background-color: ghostwhite;
    height: 50px;

    .copyright {
        margin-top: 10px;
    }

    i {
        padding: 5px;
        text-indent: 20px;
    }

    .footer-link {
        margin-top: 10px;
        padding: 5px;
        margin-right: 20px;
        &:hover {
            cursor: pointer;
            color: lightsteelblue;
        }
    }
}