.top-profile-div {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container-div {
        display: flex;
        justify-content: center;
    }
}